@import "./partials/bootstrap-override";
/* body {
  background-color: $dark;
  color: $light;
} */

a {
  text-decoration: none;
}
h5 {
  color: $secondary;
}

#extraSection {
  p {
    padding-right: 15rem;
  }
  a {
    text-align: end;
  }
}
#extraSection {
  > div:first-of-type {
    > div:first-of-type {
      margin-right: 3rem;
    }
  }
}
#extraSection2 {
  p {
    margin-left: -10rem;
  }
}

#extraSection3 {
  div:nth-of-type(1) {
    margin-right: 11.2rem;
  }
}
#extraSection4 {
  a {
    text-align: end;
  }
  div:nth-of-type(2) {
    margin-left: -9.6rem;
  }
}
#extraSection5 {
  div:nth-of-type(1) {
    margin-right: 7.5rem;
  }
}
